<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_root"
        name="QLNS"
        action="action_nhan_su_dashboard_client"
        sequence="0"/>

    <menuitem
        id="menu_dashboard_nhan_su"
        name="Dashboard"
        parent="menu_root"
        sequence="1"
        action="action_nhan_su_dashboard_client"
    />

    <menuitem
        id="menu_thong_tin_nhan_vien"
        name="Thông tin nhân viên"
        parent="menu_root"
        sequence="2"
        action="action_nhan_vien"
    />

    <menuitem
        id="menu_phong_ban"
        name="Phòng ban"
        parent="menu_root"
        sequence="3"
        action="action_don_vi"
    />

    <menuitem
        id="menu_dao_tao_phat_trien"
        name="Đào tạo - phát triển"
        parent="menu_root"
        sequence="4"
    />

    <menuitem
        id="menu_dao_tao_chung_chi"
        name="Chứng chỉ nhân viên"
        parent="menu_dao_tao_phat_trien"
        sequence="1"
        action="action_danh_sach_chung_chi_bang_cap"
    />

    <menuitem
        id="menu_dao_tao_danh_muc"
        name="Danh mục chứng chỉ"
        parent="menu_dao_tao_phat_trien"
        sequence="2"
        action="action_chung_chi_bang_cap"
    />

    <menuitem
        id="menu_hop_dong_nhan_vien"
        name="Hợp đồng nhân viên"
        parent="menu_root"
        sequence="5"
        action="action_hop_dong_nhan_vien"
    />

    <menuitem
        id="menu_luong_nhan_vien"
        name="Lương nhân viên"
        parent="menu_root"
        sequence="6"
        action="action_bang_luong_nhan_vien"
    />

    <menuitem
        id="menu_nghi_phep_nhan_vien"
        name="Nghỉ phép"
        parent="menu_root"
        sequence="7"
        action="action_nghi_phep_nhan_vien"
    />

    <menuitem
        id="menu_cham_cong_nhan_vien"
        name="Chấm công"
        parent="menu_root"
        sequence="8"
        action="action_cham_cong_nhan_vien"
    />

    <menuitem
        id="menu_tuyen_dung"
        name="Tuyển dụng"
        parent="menu_root"
        sequence="9"
    />

    <menuitem
        id="menu_ung_vien"
        name="Ứng viên"
        parent="menu_tuyen_dung"
        sequence="1"
        action="hr_recruitment.crm_case_categ0_act_job"
    />

    <menuitem
        id="menu_khen_thuong_xu_phat"
        name="Khen thưởng/Xử phạt"
        parent="menu_root"
        sequence="10"
        action="action_khen_thuong_xu_phat"
    />

    <menuitem
        id="menu_cau_hinh_nhan_su"
        name="Cấu hình nhân sự"
        parent="menu_root"
        sequence="11"
    />

    <menuitem
        id="menu_don_vi"
        name="Danh mục đơn vị"
        parent="menu_cau_hinh_nhan_su"
        sequence="1"
        action="action_don_vi"
    />

    <menuitem
        id="menu_chuc_vu"
        name="Danh mục chức vụ"
        parent="menu_cau_hinh_nhan_su"
        sequence="2"
        action="action_chuc_vu"
    />

    <menuitem
        id="menu_lich_su_cong_tac"
        name="Lịch sử công tác"
        parent="menu_cau_hinh_nhan_su"
        sequence="3"
        action="action_lich_su_cong_tac"
    />

    <menuitem
        id="menu_khach_hang"
        name="Quản lý khách hàng"
        parent="menu_cau_hinh_nhan_su"
        sequence="4"
        action="action_khach_hang"
    />
</odoo>
